*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Digital-7', sans-serif; 
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#7e09eb,#df9253);
    color: #fcf8f8;
    position: relative;
}
.container{
   width: 800px;
   height: 180px;
   position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(200, 160, 205, 0.11);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;

}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  
}
#hrs::after{
    content: "HRS";
}
#min::after{
    content: "MINS";
}
#sec::after{
    content: "SECS";
}